:root {
    --main-background-color: #d9e6e4;
    --title-background-color: white;
    --content-background-color: #ffffff6b;
    --beginning-section-background-color: #b4cbc8;
    --input-text-underline-color: #bbb;
    --input-text-focused-background-color: #fffcd6;
    --input-text-focused-underline-color: #3c3c3c;
    --input-submit-background-color: #395954;
    --input-submit-hovered-background-color: #568780;
    --input-submit-active-background-color: #2e4642;
    --max-form-width: 640px;
    --section-max-width: 640px;
    --input-text-width: 160px;

    --section-border-width: 1px;
    --question-border-width: 2px;
    --section-border-radius: 15px;
    --question-border-badius: 8px;
    --section-border-color: #eee;
    --question-border-color: #ffffff;
    --button-border-radius: 5px;

    --page-margin: 100px;
    --section-margin: 60px;
    --question-margin: 45px;
    --content-margin: 15px;
    --section-child-padding: 30px;
    --question-padding: 15px;

    --title-font-size: 1.75rem;
    --comment-font-size: 0.85rem;
    --option-font-size: 0.95rem;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

    font-family: '微軟正黑體', sans-serif;
    font-size: 1rem;
    transition: 200ms ease-in-out;
}
body {
    background: var(--main-background-color);
}
b {
    font-size: inherit;
}
/* ---------------------------- form --------------------------- */
#main-form {
    width: var(--max-form-width);
    margin: var(--page-margin) auto;
}
#main-form > .section {
    margin: var(--section-margin) 0;
}
label {
    font-size: var(--option-font-size);
}
::placeholder {
    color: #0000008a;
}
/* ----------------------- form element ------------------------ */
input[type='radio'] {
    width: 20px;
    height: 20px;
}
input[type='text'] {
    width: var(--input-text-width);
    border: none;
    font-size: var(--option-font-size);
    background: transparent;
    border-bottom: 1px solid var(--input-text-underline-color);
}
input[type='text']:focus {
    outline: none;
    border-bottom: 1px solid var(--input-text-focused-underline-color);
    background: var(--input-text-focused-background-color);
}
input[type='submit'] {
    width: 100px;
    height: 38px;
    border: none;
    border-radius: var(--button-border-radius);
    color: white;
    background: var(--input-submit-background-color);
    transition: none;
}
input[type='submit']:hover {
    background: var(--input-submit-hovered-background-color);
}
input[type='submit']:active {
    background: var(--input-submit-active-background-color);
    transition: none;
}

/* -------------------------- section -------------------------- */
fieldset.section {
    /* display: block; */
    border-radius: var(--section-border-radius);
    border-width: var(--section-border-width);
    border-color: var(--section-border-color);
    overflow: hidden;
}

/* ---------------------- section's child ---------------------- */
fieldset.section > * {
    padding: var(--section-child-padding);
}
fieldset.section > * {
    margin: 0 auto;
    padding: var(--section-child-padding);
}

/* ----------------------- section title ----------------------- */
fieldset.section > .title-wrapper {
    background-color: var(--title-background-color);
}
fieldset.section > .title-wrapper > .title {
    font-size: var(--title-font-size);
    font-weight: bold;
}
fieldset.section > .title-wrapper > .comment {
    font-size: var(--comment-font-size);
    margin-top: var(--content-margin);
}
fieldset.beginning-section > .title-wrapper {
    padding-bottom: var(--section-child-padding);
    background: var(--beginning-section-background-color);
    border: 1px solid rgb(51, 66, 60);
    border-bottom: 5px solid rgb(51, 66, 60);
    border-radius: inherit;
}

/* ---------------------- section content ---------------------- */
fieldset.section > .content-wrapper {
    background-color: var(--content-background-color);
}

/* -------------------------- question ------------------------- */
.question-wrapper {
    margin-bottom: var(--question-margin);
    padding: var(--question-padding);
    border: var(--question-border-width) solid var(--question-border-color);
    border-radius: var(--question-border-badius);
}

.question-wrapper > * {
    margin-bottom: var(--content-margin);
}
.question-wrapper > *:last-child {
    margin-bottom: 0;
}
.option-wrapper {
    display: grid;
    grid-template-columns: 30px auto;
    align-items: center;
}
.option-wrapper > .label {
    display: grid;
    grid-template-columns: fit-content(100px) var(--input-text-width);
    align-items: center;
}

/* ------------------------ radio option ----------------------- */
.option-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    justify-items: center;
}
.option-grid-wrapper > * {
    justify-content: center;
    align-items: center;
}

/* ------------------------ submit button ---------------------- */
.submit-btn-wrapper {
    text-align: right;
}

/* ---------------------------- RWD ---------------------------- */
@media only screen and (max-width: 600px) {
    :root {
        --max-form-width: 80%;

        --question-margin: 20px;

        --title-font-size: 1.25rem;
        --section-child-padding: 20px;

        --input-text-width: 120px;
    }
}
